*{
    box-sizing: border-box;
}

body {
    
    font: 15px/1.5 Cambria, Cochin, sans-serif ;
    margin: 0;
    padding: 0;
    background: rgb(151, 221, 151);
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-width: 900px;

}

header {
    background: grey ;
    color: hotpink;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: hotpink 3px solid;
}

header .logoWb{
    height: 100%;
    width: 100%;
    max-width: 200px;
    max-height: 100px;
}

header a{
    color: floralwhite;
    text-decoration: none;
    text-transform: uppercase;
}

header ul{
    max-width: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;

}


header #branding{
    float: left;
}

header #branding h1{
    margin: 0;

}

header nav{
    float: right;
    margin-top: 15px;
}


header .highlight, header .current a{
    color: hotpink;
    font-weight: bold;
}

header a:hover{
    color: hotpink;
    font-weight: bold;
}


#showcase {
    

   max-width: 100%;
   height: auto;
    width: fit-content;
    min-height: 400px;   
    background: url('../img/slide1.jpg') no-repeat center;
    text-align: center;
    background-size: cover;
    
    
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: red;
    

}


#showcase {
    color: hotpink;
}

#newsletter{
    padding: 15px;
    background-color: grey;
}

#newsletter form{ 
float: right;
margin-top: 25px;
}

#newsletter h1 {
    float: left;

}

#newsletter input[type="email"]{
    padding: 4px;
    max-height: 30px;
    max-width: 250px;
}

.button_1{
     
}